@model IEnumerable<project.Models.Persons>

@{
    ViewData["Title"] = "Inbokade personer";

}

<div class="section">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 high social">
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
                <div class="col high main">

                    <h1>Inbokade personer</h1>



                </div>
                <div class="col-sm-5 high">
                    <img src="~/images/man.png" alt="En man" />


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marginTop">

    @{ 
        foreach(var item in ViewBag.home)
        {
            <h3>@item</h3>
        }
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>

         
                <th>

                    @Html.DisplayNameFor(model => model.PhoneNUmber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
        
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ if (ViewBag.demosControll == 1)
                {
                    @foreach (var pers in (List<Persons>)ViewBag.persons)
                    {
                        if (pers.Bidder == false)
                        {
                        <tr>
                            <td>
                                @pers.FirstName
                            </td>
                            <td>
                                @pers.LastName
                            </td>

                            <td>
                                @pers.PhoneNUmber
                            </td>
                            <td>
                                @pers.Email
                            </td>
                        
                            <td>
                                <a asp-action="Edit" asp-route-demoId="@pers.DemonstrationId" asp-route-HomeId="@pers.HomeId" asp-route-id="@pers.PersonId">Ändra</a> |
                                <a asp-action="Details" asp-route-demoId="@pers.DemonstrationId" asp-route-HomeId="@pers.HomeId" asp-route-id="@pers.PersonId">Detaljer</a> |
                                <a asp-action="Delete" asp-route-id="@pers.PersonId">Avboka</a>
                            </td>
                        </tr>
                            }
                        }}
            }
         

        </tbody>
    </table>
</div>

<script src="~/js/menu.js"></script>