@model project.Models.Homes

@{
    ViewData["Title"] = "Details";
}
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AgJc-CFgzRtz_dfIVjSLmkTBKDWcd3CNCZjJHJPOyiz4H77kh4bih7cA0FQKcVds' async defer></script>
@foreach (var hero in (List<string>)ViewBag.HeroImages)
{
    <style>
        body {
            overflow: auto;
            overflow: initial;
        }
    
        #header {
            background-image: url("/images/@hero");
width: 100%;
height: 100vh;

               object-fit: cover;
        }
    </style>
    <input type="hidden" id="bildadress" value=" @hero" />
}

<div class="section">
    <div id="header">
    </div>
</div>




<div class="section container">
    <!-- For pin on map-->
    <input type="hidden" id="street" value="@Model.Street" />
    <input type="hidden" id="city" value="@Model.City" />
    <input type="hidden" id="postal" value="@Model.PostalCode" />
    <input type="hidden" id="typ" value="@Model.Type" />
    <input type="hidden" id="year" value="@Model.BuildningYear" />
    <input type="hidden" id="tax" value="@Model.TaxValue" />
    <input type="hidden" id="drift" value="@Model.OperationCost" />
    <input type="hidden" id="manadsavgift" value="@Model.MounthlyFee" />
    <input type="hidden" id="boarea" value="@Model.LivingArea" />
    <input type="hidden" id="price" value="@Model.Price" />
    <input type="hidden" id="room" value=" @Model.Room" />
    <input type="hidden" id="biarea" value=" @Model.BiArea" />
    <input type="hidden" id="garden" value=" @Model.GardenArea" />
    <input type="hidden" id="long" value="" />
    <input type="hidden" id="lat" value="" />
    <input type="hidden" id="address" value=" @Model.Street,  @Model.PostalCode @Model.City" />
    <!--Internal navigation menu-->
    <div id="innermenu">
        <ul>
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="oversikt">Översikt</a></li>
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="fakta">Fakta</a></li>
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="bilder">Bilder</a></li>
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="planritning">Planritning</a></li>
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="finansiering">Finansiering</a></li>
            @{
                if (ViewBag.control != 0)
                {
                    <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="visning">Visning</a></li>
                } }
            <li><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Details" asp-route-BrokerId="@Model.BrokerId" asp-fragment="karta">Karta</a></li>

        </ul>
    </div>

    <div class="container oversikt" id="oversikt">
        <h1>@Model.Street, @Model.City</h1>
        <div class="row">
            <div class="col-sm-8">
                <div class=" left">
                    <ul>
                        <li><b>Typ:</b> @Model.Type</li>
                        <li><b>Rum:</b> @Model.Room</li>
                        <li><b>Boarea:</b> @Model.LivingArea kvm</li>
                        @{if (@Model.BiArea != 0)
                            {
                                <li><b>Biarea:</b> @Model.BiArea kvm</li>
                            } }
                        @{ var area = Model.GardenArea.ToString("# ### ### ###"); }
                        @{if (@Model.GardenArea != 0)
                            {
                                <li><b>Tomtarea:</b> @area kvm</li>
                            } }
                        @{if (@Model.AppartmentNumber != null)
                            {
                                <li><b>Lägenhetsnummer:</b> @Model.AppartmentNumber</li>
                            } }
                    </ul>
                </div>

                <div class=" right">
                    <ul>
                        <li><b>Byggnadsår:</b> @Model.BuildningYear</li>
                        @{var OperationCost = @Model.OperationCost.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                        <li><b>Driftskostnad:</b> @OperationCost</li>
                        @{var MounthlyFee = @Model.MounthlyFee.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                        @{if (@Model.MounthlyFee != 0)
                            {

                                <li><b>Månadsavgift:</b> @MounthlyFee </li>
                            } }
                        <li><b>Upplåtelseform:</b> @Model.Tow</li>
                        @{if (@Model.Elevator != null)
                            {
                                <li><b>Hiss:</b> @Model.Elevator</li>
                            } }
                        @{var price = @Model.Price.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                        <li><b>Pris:</b> @price </li>


                    </ul>
                </div>


                <!--Summary-->

                <div class="col marginTop">
                    <h2>@Model.SummaryHeading</h2>
                    <p>@Model.Summary</p>
                </div>
                <p id="fakta"></p>
            </div>
            <div class="col-sm-4">
                <!--Brokers area-->
                <!--broker-->
                <div class="col fixed whitebk ">
                    <h3>Mäklare</h3>
                    @foreach (var item in (List<Broker>)ViewBag.BrokerList)
                    {
                        <img src="~/images/@item.Image" alt="@item.fullname" /><br />
                        <b>@item.FirstName</b>
                        <div class="padd">
                            <p>@item.Phonenumber</p>
                            <p><a href="mailto:@item.Email">@item.Email</a></p>
                        </div>
                    }
                    @{ if (Model.Bidding == true)
                        {

                            <div class="row">
                                <div class="col">
                                    <h3>Budgivning pågår</h3>
                                    <p>Högsta bud</p>
                                    @{var prices = @ViewBag.Highest.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                                    <h4>@prices</h4>
                                    <div onclick="history()" id="history">Se budhistorik</div>
                                    <div id="hideBids">

                                        <p>Budgivare | Datum | Summa</p>
                                        @foreach (var pers in (List<Persons>)ViewBag.bidders)
                                        {

                                            int cc = Convert.ToInt32(pers.Amount);
                                            var bids = cc.ToString("C0", new System.Globalization.CultureInfo("sv-SE"));
                                            DateTime dd = Convert.ToDateTime(pers.Date);
                                            var dates = dd.ToString("yyyy-MM-dd");
                                            <p> @pers.Alias | @dates | @bids</p>

                                        }

                                        <div onclick="historyClose()">Dölj budhistorik</div>
                                    </div>
                                </div>
                            </div>
                        } }
                </div>
            </div>
        </div>
    </div>

    <div class="container whitebk oversikt">

        <h2 class="center">Fakta</h2>
        <div class="row">

            <div class="col">
                <h3>Allmänt</h3>
                <ul>
                    <li><b>Typ:</b> @Model.Type</li>
                    <li><b>Rum:</b> @Model.Room</li>
                    <li><b>Boarea:</b> @Model.LivingArea kvm</li>
                    @{if (@Model.BiArea != 0)
                        {
                            <li><b>Biarea:</b> @Model.BiArea kvm</li>
                        } }
                    @{if (@Model.GardenArea != 0)
                        {

                            <li><b>Tomtarea:</b> @area kvm</li>
                        } }
                    @{if (@Model.AppartmentNumber != null)
                        {
                            <li><b>Lägenhetsnummer:</b> @Model.AppartmentNumber</li>
                        } }
                    <li><b>Byggnadsår:</b> @Model.BuildningYear</li>

                    <li><b>Driftskostnad:</b> @OperationCost </li>

                    @{if (@Model.MounthlyFee != 0)
                        {

                            <li><b>Månadsavgift:</b> @MounthlyFee </li>
                        } }
                    <li><b>Upplåtelseform:</b> @Model.Tow</li>
                    @{if (@Model.Elevator != null)
                        {
                            <li><b>Hiss:</b> @Model.Elevator</li>
                        } }
                    <li><b>Pris:</b> @price </li>
                    @{if (@Model.LivingSpaceComment != null)
                        {
                            <li><b>Kommentarer:</b> @Model.LivingSpaceComment</li>
                        } }
                </ul>
            </div>
            <div class="col">
                <h3>Byggnaden</h3>
                <ul>
                    @{if (@Model.TypeCode != null)
                        {
                            <li><b>Typkod:</b> @Model.TypeCode</li>
                        } }
                    @{if (@Model.Dop != null)
                        {
                            <li><b>Fastighetsbeteckning:</b> @Model.Dop</li>
                        } }
                    @{if (@Model.BuildningSystem != null)
                        {
                            <li><b>Byggnadssätt:</b> @Model.BuildningSystem</li>
                        } }
                    @{if (@Model.Renovations != null)
                        {
                            <li><b>Renoveringar:</b> @Model.Renovations</li>
                        } }
                    @{if (@Model.OtherBuildnings != null)
                        {
                            <li><b>Övriga Byggnader:</b> @Model.OtherBuildnings</li>
                        } }
                    @{if (@Model.CommonAreas != null)
                        {
                            <li><b>Gemensamma utrymmen:</b> @Model.CommonAreas</li>
                        } }
                    @{if (@Model.Parking != null)
                        {
                            <li><b>Parkering:</b> @Model.Parking</li>
                        } }
                    <li><b>Värme och ventilation:</b> @Model.HeatVentilation</li>
                    <li><b>TV och internet:</b> @Model.TvInternet</li>


                </ul>

            </div>
            <div class="col">
                <h3>Ekonomi</h3>
                <ul>
                    @{var TransactionFee = @Model.TransactionFee.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.TransactionFee != 0)
                        {

                            <li><b>Överlåtelseavgift:</b> @TransactionFee </li>
                        } }
                    @{if (@Model.TransactionFeePaidBy != null)
                        {
                            <li><b>Överlåtelseavgift betalas av:</b> @Model.TransactionFeePaidBy</li>
                        } }
                    @{if (@Model.PawnBroking != false)
                        {
                            <li><b>Pantsättning:</b> @Model.PawnBroking</li>
                        } }

                    @{if (@Model.OperationCost != 0)
                        {
                            <li><b>Driftskostnad:</b> @OperationCost</li>
                        } }
                    @{var TaxValue = @Model.TaxValue.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.TaxValue != 0)
                        {

                            <li><b>Taxeringsvärde:</b> @TaxValue </li>
                        } }
                    @{var TaxValueProperty = @Model.TaxValueProperty.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.TaxValueProperty != 0)
                        {

                            <li><b>Taxeringsvärde byggnad:</b> @TaxValueProperty </li>
                        } }
                    @{var TaxValueLand = @Model.TaxValueLand.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.TaxValueLand != 0)
                        {

                            <li><b>Taxeringsvärde mark:</b> @TaxValueLand</li>
                        } }
                    @{if (@Model.TaxYear != 0)
                        {
                            <li><b>Taxeringsår:</b> @Model.TaxYear</li>
                        } }
                    @{if (@Model.PawnLetters != null)
                        {
                            <li><b>Pantbrev:</b> @Model.PawnLetters</li>
                        } }
                    @{var Heating = @Model.Heating.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.Heating != 0)
                        {

                            <li><b>Uppvärmningskostnad:</b> @Heating </li>
                        } }
                    @{if (@Model.PowerComsumption != 0)
                        {
                            <li><b>Elförbrukning:</b> @Model.PowerComsumption kwh/år</li>
                        } }
                    @{var EnergyCosts = @Model.EnergyCosts.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.EnergyCosts != 0)
                        {

                            <li><b>Elkostnad:</b> @EnergyCosts/år</li>
                        } }
                    @{if (@Model.NumberOfOccupants != 0)
                        {
                            <li><b>Antal personer i hushållet:</b> @Model.NumberOfOccupants</li>
                        } }
                    @{var Cleaning = @Model.Cleaning.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.Cleaning != 0)
                        {
                            <li><b>Renhållning:</b> @Cleaning/år</li>
                        } }
                    @{var Insurance = @Model.Insurance.ToString("C0", new System.Globalization.CultureInfo("sv-SE")); }
                    @{if (@Model.Insurance != 0)
                        {
                            {
                                <li><b>Försäkringskostnader:</b> @Insurance/år</li>
                            }
                        } }
                    @{if (@Model.InsuranceComment != null)
                        {
                            <li><b>Försäkringskommentar:</b> @Model.InsuranceComment</li>
                        } }

                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col">
                @{if (@Model.EnergyDeclaration != false)
                    {
                        <h3 class="center">Energideklaration</h3>
                        <ul>

                            <li><b>Energiprestanda:</b> @Model.EnergyPerfomance</li>
                            <li><b>Energiklass:</b> @Model.EnergyClass</li>
                            <li><b>Specifik energianvändning:</b> @Model.SpecificEnergyUsage</li>
                            <li><b>Deklarationsdatum:</b> @Model.DeclarationDate</li>
                            <li><b>Deklaration utförd av:</b> @Model.Inspector</li>

                        </ul>
                    } }
                @{if (@Model.AboutSociety != null)
                    {
                        <h3 class="center">Om föreningen</h3>
                        <pre class="replace"> @Model.AboutSociety</pre>
                    } }
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="center">Information</h2>
                <pre class="replace"> @Model.Information</pre>
            </div>
            <p id="bilder"></p>
        </div>

    </div>
    <div class="row"><h2 class="center">Bilder</h2></div>

    @foreach (var img in (List<Image>)ViewBag.HomeImg)
    {<div class="row">
            <div class="col detImg">
                <img src="~/images/@img.ImageAdress" alt="@img.ImageText" />
                <div class="output"><p>@img.ImageText</p></div>
            </div>
        </div>
    }


    <div id="planritning" class="row"><h2 class="center">Planritning</h2></div>


    @foreach (var img in (List<Image>)ViewBag.Planritning)
    {<div class="row">
            <div class="col detImg">
                <img src="~/images/@img.ImageAdress" alt="@img.ImageText" />
                <div class="poutput"><p>@img.ImageText</p></div>
            </div>
        </div>
    }



    <p id="finansiering"></p>
    <div class="row whitebk margin">
        <h2 class="center">Finansiering</h2><br />
        <div class="col">
            <div id="lf"></div>
        </div>
        <div class="col">
            <div id="nordea"></div>
        </div>
        <div class="col">
            <div id="swed"></div>
            <p id="karta"></p>
        </div>
    </div>


    @{
        if (ViewBag.control != 0)
        {



            <p id="visning"></p>
            <div class="row whitebk margin">
                <h2 class="center">Anmäl till visning</h2><br />
                <div class="col">

                    @ViewBag.msg

                    <form asp-action="Create" asp-controller="Persons" class="form form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div><br />
                        <div class="form-group">
                            <!--Datum och tid-->

                            <select name="DemonstrationId">
                                @foreach (var demo in (List<Demonstration>)ViewBag.demos)
                                {
                                    var date = demo.BookingDate.ToString("yyyy/MM/dd");
                                    var time = demo.BookingTime.ToString("HH:mm");
                                    <option value="@demo.DemonstrationId">Datum: @date, kl: @time</option>
                                }
                            </select>
                        </div>
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Förnamn</label>
                                        <input required name="FirstName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Efternamn</label>
                                        <input required name="LastName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Gata</label>
                                        <input required name="Street" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Stad</label>
                                        <input required name="City" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Postnummer</label>
                                        <input required name="PostalCode" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row inline">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Telefonnummer</label>
                                        <input required name="PhoneNUmber" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <div class="row inline">
                            <div class="col">
                                <div class="form-group">

                                    <label>Epost</label>
                                    <input required name="Email" class="form-control" />

                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <input type="hidden" name="HomeId" value="@Model.HomeId" class="form-control" />

                        </div>
                        <div class="form-group form-check">

                            <input class="form-check-input" type="hidden" name="Bidder" value="false" />

                        </div>
                        <div class="form-group form-check">

                            <input class="form-check-input" type="hidden" name="Viewer" value="true" />
                            <input class="form-check-input" type="hidden" name="BrokId" value="@Model.BrokerId" />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Anmäl till visning" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
    }


    <h2 class="center">Karta</h2>

    <!--MAP-->
    <div id="myMap"></div>
</div><!--END CONTAINER-->






<script src="~/js/financing.js"></script>
<script src="~/js/maps.js"></script>




<script>
    //Sticky inner menu
    var navbar = document.getElementById("innermenu");
    var mnu = document.getElementById("menu");
    var container = document.getElementsByClassName("container");




    mnu.style.background = "#fff";
    navbar.classList.add("sticky")


    // Convert special characters
    var replaceIt = document.getElementsByClassName("replace");

    for (var i = 0; i < replaceIt.length; i++) {
        var content = replaceIt[i].textContent;
        replaceIt[i].innerHTML = content;
    }


    // SHOW BIDDING HISTORY

    var hideBids = document.getElementById("hideBids");




    function history() {
        hideBids.style.display = "block";
    }
    function historyClose() {
        hideBids.style.display = "none";
    }
</script>