@model project.Models.Demonstration

@{
    ViewData["Title"] = "Radera visning";
}

<div class="section">
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 high social">
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
                <div class="col high main">
                    <h1>Radera visning</h1>

                </div>
                <div class="col-sm-5 high">
                    <img src="~/images/man.png" alt="En man" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marginTop">
    <div>
        <h4>Visning</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingDate)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomeId)
            </dt>
            <dd class="col-sm-10">
                @{ foreach (var item in ViewBag.home)
                    {@item
                }
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="DemonstrationId" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a asp-action="Index">Gå tillbaka</a>
        </form>
    </div>
    </div>
    <script src="~/js/menu.js"></script>
